.backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  /* -webkit-transform: translateZ(0);
          transform: translateZ(0); */
  z-index: -1; }
  .backgrounds .background {
    width: 100%;
    height: 100%;
    background-size:contain;
    position: absolute;
    left: 0;
    top: 0px;
    background-attachment: fixed; }


.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background-color:#fff;
  opacity: 0.2; }

  .hero {
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
  color: #FFF;
  text-align: center; }

.hero-center {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
