
body{
margin-top: 60px;
background-color:white;
overflow-x: hidden;
width: 100%;
}
p{
  font-size:1rem;line-height:1.2;font-family:'Montserrat',sans-serif;
}

#particles-js{
  position: absolute;
  left: 0px;
  top: 0px;
  height:100%;
  width: 100%;
  z-index: 2;
}

.dropdown-item, .nav-item{
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item{
color:#000;
}
.dropdown-item:hover{
  background-color:#5eaaa8;
}
.glow{
  -webkit-text-stroke: 1px #111d5e;
}

.boxes{
  background-color: #32e0c4;
  border-radius: 20px;
padding: 8px;
margin: auto;
overflow: hidden;
  width:100%;

}
.background{
  /* background-image: url('images/bgl.png'); */
  background-color: #32e0c4;

}

.carousel-body{
  padding:20px 40px 40px 40px;
  text-align: center;
}
.wrap {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
  /* padding-right: 100px;
  padding-left: 100px; */
}

.box-1{
  text-align:center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;

}
.box-2 {
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  margin:auto;
}
@media only screen and (max-width:700px) {
  .wrap > section > div.boxes{
    width:85%;
    margin: auto;
overflow: hidden;
  }
.background{
  background-image: url('images/bgl.png');

}
i{
  display: block;
}
}


.about{
padding: 12px;
visibility: visible;
}
.info{
  padding: 12px;
  display: flex;
}
