<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/spinkit.min.css">
  <link rel="stylesheet" href="/CSS/elec_home.css">
 

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/CSS/demo.css">
</head>
<body>
  <%- include("navbar.ejs")  %>
  <div class="about">
    <div class="inner-section">
        <h1>About Us</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Doloribus velit ducimus, enim inventore earum, eligendi 
            nostrum pariatur necessitatibus eius dicta a voluptates sit 
            deleniti autem error eos totam
             nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <button>Contact Us</button>
        </div>
    </div>

<div class="wrapper">
 
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Content for 1st person</p>
      <div class="content">
        <div class="info">
          <div class="name">BEN</div>
          <div class="job">Interior Designer</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
           <img src="city.jpeg" alt=""> 
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>content for 2nd person</p>
      <div class="content">
        <div class="info">
          <div class="name">ALEXA</div>
          <div class="job">WEB DEVELOPER</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="road.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Content for 3rd person</p>
      <div class="content">
        <div class="info">
          <div class="name">Bella</div>
          <div class="job">Advertiser DEVELOPER</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="wheel.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/99Xg-iZVzmk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%- include("footer.ejs")  %>
</body>
    </html>