<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Qkres Business Opportunities</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 

  <link rel="stylesheet" href="/CSS/bsopp.css">
  <link rel="stylesheet" href="/CSS/styles.css">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Merriweather:ital,wght@0,700;1,900&family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap%27" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
  <%-include("navbar.ejs");  %>
  <div class="wrap">
    <header class="hero">
      <h1>
            Let Us Collaborate
      </h1>
    </header>
  <section id="first" class="container-fluid row">
      <div class="col-md-4" id="first-header">
        <h1>Who are we <br> looking for?</h1>
      </div>
      <div class="col-md-8" id="content">
        <div class="row" id="first-1">
          Reputed service providers and vendors in terms of Fabrication & Manufacturing, start-ups who wish to join hands with us.
        </div>
        <div class="row" id="first-2">
          Vendors in terms of Chemical, Electrical, and Mechanical Instrumentation companies who wish to join hands with us.
        </div>
      </div>
  </section>
  <div id="collab">
    <a role="button" id="collabButton" class="btn btn-warning btn-outline-info" href="https://docs.google.com/forms/d/e/1FAIpQLScSHrLKKYn6tB1ht6BGvJ7YmR7Pp-fshNO3y5pOnx2OzdvFEg/viewform?usp=sf_link">Collaborate</a>
  </div>  
  <section id="third">
    <div id="happy">
      <h3><strong>Kindly register with us.</strong> <br><i>We are happy to collaborate with you!</i></h3>
    </div>
  </section>
</div>
<%-include("footer.ejs");  %>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="index.js" charset="utf-8"></script>
  <script src="chemical.js" charset="utf-8"></script>

  <!-- Ion Icons -->
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>
