<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Sample Design</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="CSS/aos.css"> -->
  <!-- <link rel="stylesheet" href="CSS/footer.css"> -->
  <link rel="stylesheet" href="/CSS/chemical.css">
  <link rel="stylesheet" href="/CSS/styles.css">


  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Merriweather:ital,wght@0,700;1,900&family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap%27" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <!-- fontawesome -->

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="shortcut icon" href="images/favicon.ico">

</head>

<body>


<!--   <div id="particles-js"><canvas class="particles-js-canvas-el" width="1889" height="349" style="width: 100%; height: 100%;"></canvas></div> -->
 
<%- include("../views/navbar.ejs")  %>
   

  <!-- <div class="wrap">
    <header class="hero">
      <div class="hero-center">
        <h1 data-aos="zoom-in-up" class="hero-logo">
            Chemicals <br> &  <br>  Lab Equipments
        </h1>
        <a href="#first"><i class="fas fa-arrow-down"></i></a>
      </div>
    </header> -->




<!-- 
  <section id="first">
    <div class="container-fluid" id="first-1" >
      <div >
        <p>We deliver Chemicals, Chemical handling devices and Equipment such as : </p>
        <p></p>
        <ul>
          <li>Basic and advanced chemicals from companies like Rankem, Fisher, Finar, Glaxo, Sigma, SRL, Merck, Emparta, Hayman and many more</li>
          <li>Industrial chemicals</li>
          <li>Glass wares from companies like Borosil, Borosilicate etc.</li>
          <li>Other products such as Remi, Whatman, Aquasol etc are also available. </li>
          <li>We are dealing with Laboratory Supplies:</li>
          <ul>
              <li>Chromatography Products, Laboratory Apparel, Laboratory Machines, Laboratory Equipment, Laboratory Chemicals, Laboratory Disposables, Laboratory Filters, Laboratory Glassware, Laboratory Plasticware, Micro Biology Products</li>
          </ul>
        </ul>
      </div>
      <div>
        <p>We are also dealing with:</p>
        <ul>
            <li>Ultra Freezer -86degC,</li>
            <li>Deep Freezer -40degC,</li>
            <li>Low Freezer -20degC,</li>
            <li>Ice lined refrigerators 2 to 8 deg C/ Ice lined Freezers -20degC, </li>
            <li>Laboratory / Medical / Pharmacy / Chromatography Refrigerators / Cold Cabinets – Temperature Range 2 to 8DegC, </li>
            <li>Blood Bank Refrigerators (+4DegC)</li>
            <li>Plasma & Component Freezers (-40 & -80 deg C)</li>
            <li>Plasma Thawing Bath</li>
        </ul>
      </div>
    </div> -->
    <!-- <div id="first-2">
      <p>We focus mainly on:</p>
      <div id="first-2-2">
        <div>
          <p>Purity of Chemicals</p>
          <i class="fas fa-flask" data-aos="fade-up"></i>
        </div>
        <div>
          <p>High Quality <br> Lab Equipments</p>
          <i class="fas fa-check-circle" data-aos="fade-up"></i>
        </div>
        <div>
          <p>Timely delivery </p>
          <i class="fas fa-clock" data-aos="fade-up"></i>
        </div>
      </div>
      </ol>
    </div>
  </section> -->
  <!-- <section id="second">
      <h3>We deliver</h3>
      <div>
        <div class="card" data-aos='fade-left'>
          <h3 class="my-0">Chemicals</h3>
        </div>
        <div class="card" data-aos='fade-up'>
          <h3 class="my-0"> <br><br> Lab setup <br> and <br> Equipments</h3>
        </div>
      </div>
      <a href="#"><button type="button" class="btn btn-primary">Submit your requirements</button></a>
  </section> -->
  <!-- <section id="fourth">
    <div class="cat">
      <p>Beakers</p>
      <a href="chem_eqp/beakers/beakers.html"><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Bottles</p>
        <a href="bottles.html"><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
    <div class="cat">
        <p>Beakers</p>
        <a href=""><button type="button" class="btn btn-primary" data-aos="fade-up">Show More</button></a>
    </div>
  </section> -->
  <!-- <section id="third">
    <div id="happy" data-aos='fade-right'>
        <h3><strong>You can submit your requirements, we will make it available for you.</strong></h3>
      <h3><i>Happy to serve you! </i></h3>
    </div>
  </section>

</div>
  <footer id="end">
    <div class="foo">
      <div class="foo-box">
        <h5><i><img src="images/Qres.logo.png" />kRes</i></h5>
        <div class="social-media">
          <div class="button">
            <div class="icon">

              <a target="_blank" role="button" href='https://www.facebook.com/QkResTechnologies' />
              <i class="fab fa-facebook-f"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a target="_blank" href='https://mobile.twitter.com/QkRes_Tec'>
                <i class="fab fa-twitter"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a target="_blank" href='https://www.linkedin.com/mwlite/in/qkres-technologies-and-research-a25a571b1'>
                <i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a target="_blank" href='https://youtu.be/tuZgM-r5hXI'>
                <i style="color:#ff0000" class="fab fa-youtube"></i></a>
            </div>
          </div>

        </div>
      </div>
      <br>
      <p>Copyright © 2020 QkRes Technologies and Research</p>

    </div>
  </footer> -->

<!--
  <script src="js/particles.min.js" charset="utf-8"></script>
  <script src="js/apply.js" charset="utf-8"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="index.js" charset="utf-8"></script>
  <script src="chemical.js" charset="utf-8"></script>

  <!-- Ion Icons -->
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>
