html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    width: 100%;
  }
  
  p {
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
  }
  
  ul {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    list-style-type: square;
  }


  
  .card {
    background-color: cadetblue;
    color: rgb(16, 10, 50);
    padding: 100px;
    margin: 20px;
    overflow: hidden;
    border: 3px solid black;
    transition: all 2s ease-in-out;
  }
  .card:nth-child(1) {
    background: url('/images/chem-chem.webp');
    background-size: cover;
    padding: 120px 90px 180px 90px;
  }
  .card:nth-child(2) {
    background: url('/images/chem-lab.webp');
    background-size: cover;
    padding: 60px 120px 120px 120px;
  }
  .card:hover {
    background: rgb(20, 91, 89);
    color: white;
    
  }
  #first {
    background-color: white;
    color: white;
    padding: 0px;
    width: 100%;
    text-align: left;
    display: flex;
    margin: 0px;
  }
  #first-1 {
    background-color: rgb(178, 240, 157);
    color: rgb(14, 14, 14);
    padding: 30px 0px 0px 0px;
    width: 70%;
    font-family: 'Ubuntu', sans-serif;
  }
  #first-1 > div {
    padding: 30px;
  }
  #first-1> div:nth-child(2) {
    background-color: cadetblue;
    color: white;
    margin: 0px;
    width: 100%;
    padding: 30px 20px 30px 20px;
  }
  #first-2 {
    background-color: #262422;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    }
  #first-2-2 {
    height: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #first-2-2 > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #first-2-2 > div > i {
    font-size: 50px;
  }

  #second {
    background-color:rgb(178, 240, 157);
    width: 100%;
    padding: 40px 20px;
    margin: 0;
    text-align: center;
  }
  #second > div {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
  }
  /* #particles-js {
    position: fixed;
    left: 0;
    top: 0;
    height: 3000px;
    width: 100%;
    z-index: -1;
  } */
  #end{
    box-sizing:border-box;
  }
  #end .foo{
    border-top: 1px solid; background-color:#848ccf;text-align:center;padding:15px;
  }
  #end .foo .foo-box img{
    height:40px;
  }
  
   h2{
    font-family: 'Montserrat',sans-serif;
  }
  .container-fluid .heading {
    margin-bottom:  25px;
    text-align: center;
  }
  
  #happy {
    text-align: center;
    background: cadetblue;
    color: white;
    position: relative;
    padding: 20px;
  }
  #intro .boxes .about{
    display: flex; overflow:hidden;
  }
  
  .dropdown-item, .nav-item {
    font-family: 'Montserrat', sans-serif;
  }
  
  .dropdown-item {
    color: #000;
  }
  
  .dropdown-item:hover {
    background-color: #5eaaa8;
  }
  
  .carousel-body img{
    padding-bottom:5px;
  }
  .hero .hero-center h1{
    font-family:'Lato',sans-serif;color: rgb(40, 35, 35);
  }

  .hero-center > a > i {
    font-size: 50px;
    padding-top: 40px;
  }
  .backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    /* padding: 15px; */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: -1; }
  
    .hero {
  
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    background-image: url('/images/chem-bg.webp');
    background-size: cover;
    background-color: rgb(244, 238, 238);
    color: #FFF;
    text-align: center;
    margin: 0px;
  }
  
  .hero-center {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  
  .navbar-collapse ul li a{
    font-weight:bold;color:#000;font-size:1rem;
  }
  .navbar-brand img{
    height:40px;
  }
  

  .cat {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: #d6e0f0 2px solid;
  }

  .wrap {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
  }
  
  .progress-container {
    width: 100%;
    height: 6px;
    background: #fff;
    position: fixed;
    z-index: 1030;
  }
  
  .progress-bar {
    height: 6px;
    background: #145374;
    width: 0%;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .social-media .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }
  
  .social-media .button .icon {
    display: block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  .social-media .button:nth-child(1):hover .icon {
    background: #4267B2;
  }
  
  .social-media .button:nth-child(2):hover .icon {
    background: #1DA1F2;
  }
  
  .social-media .button:nth-child(3):hover .icon {
    background: #1DA1F2;
  }
  
  .social-media .button:nth-child(4):hover .icon {
    background: #d6e0f0;
  }
  
  .social-media .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  .social-media .button:hover .icon i {
    color: #fff;
  }
  
  
  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      margin-top: 0;
    }
  
    .navbar .nav-item:hover .nav-link {
      color: #000;
    }
  
    .navbar .dropdown-menu.fade-down {
      top: 80%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
    }
  
    .navbar .dropdown-menu.fade-up {
      top: 180%;
    }
  
    .navbar .nav-item:hover .dropdown-menu {
      transition: .3s;
      opacity: 1;
      visibility: visible;
      top: 100%;
      transform: rotateX(0deg);
    }
    
  }
  
  @media only screen and (max-width:700px) {
    .boxes {
      width: 85%;
      margin:10px auto;
      position: relative;
      overflow-x: hidden;
    }
  
    .progress-container {
      height: 4px;
    }
  
    .progress-bar {
      height: 4px;
    }
  
    i {
      display: block;
    }

    #first {
      display: block;
    }
    #first-1 {
      width: 100%;
    }
    #first-2 {
      width: 100%;
    }
    #first-2-2 > div {
      padding: 20px;
    }
    #second > div {
      flex-direction: column;
    }
    
  }
  