html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    width: 100%;
    margin-top:60px;
    padding: 0;
    position: relative;
    background: url("/images/bsopp-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  

  .card:hover {
    background: #262422;
    color: white;
  }
  #first {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 80px 0;
    font-family: 'Ubuntu', sans-serif;
  }
  #first-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #content {
    width: 100%;
    margin:0;
  }
  #first-1 {
    background: rgba(178, 240, 157, 0.8);
    padding: 20px;
    margin:0;
  }
  #first-2 {
    background: rgba(116, 197, 199, 0.8);
    padding:20px;
    margin: 0;
    }

   h2{
    font-family: 'Montserrat',sans-serif;

  }
  #third {
    position: relative;
    bottom: 0;
  }
  #happy {
    text-align: center;
    background: rgb(30, 31, 30);
    color: white;
    padding: 20px;
    position: relative;
  }

  .hero h1{
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    margin-top: 80px;
  }
  #collab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #collabButton {
    padding: 20px;
    position: relative;
    width: 150px;
    border-radius: 40px;
    margin-top: 35px;
    margin-bottom: 150px;
    border: none;
    background-color: white;
  }

  .wrap {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
  }
  
  
  
  @media all and (min-width: 992px) {
    
  }
  
  @media only screen and (max-width:700px) {
    i {
      display: block;
    }

    .hero h1 {
      font-size: 75px;
    }
    #first-2 {
      width: 100%;
      padding: 40px;
    }
  }
  