
/* Preloader */
.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000; /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animaci칩n de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animaci칩n del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animaci칩n de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Tama침o de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}

/* cart page */


#cartLoader{
  align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 2000;
  background-color: #5c6e91;
}
/* html tags */

body {
  margin-top: 80px;
  overflow-x: hidden;

  width: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}


#cart_link{
  background: #cffffe;border:1px solid;border-radius:10px;
}
#cart_link:hover{
  background: #b2ebf2;
}

#index_image{
  height: 320px;
}


/* id's */

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  height: 3000px;
  width: 100%;
  z-index: -1;
}

#second .boxes {
  background: #40a8c4;
}

#fourth {
  background-color: #0072B5;
  color: white;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  visibility: visible;
}

#fourth h2 {
  font-family: 'Montserrat', sans-serif;
}

#fourth .container-fluid .heading {
  margin-bottom: 25px;
  text-align: center;
}

#fourth .container-fluid .body {
  text-align: center;
}

#fifth .boxes {
  background: #eeeeee;
  border-radius: 0px;
  margin-bottom: 0;
}
#fifth .box-1 {
  margin-bottom: 20px;
}
#fifth .feature-box p{
  font-size: 0.8rem;
}

/* end refers to footer section */
#end {
  box-sizing: border-box;
}
#end .foo {
  border-top: 1px solid;
  background-color: #848ccf;
  text-align: center;
  padding: 15px;
}
#end .foo .foo-box img {
  height: 40px;
}

.wedueid{
  display: flex;
  flex-direction: column;
  padding: 20px;
word-wrap: break-word;
border-radius: 20px;
margin-bottom: 10px;
background: #b9fffc;
}  
/* .kneduifr{
  display: flex;
  width: 100px;
  height: inherit;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  transform: rotate(20deg);
} */

/* classes */

/* navbar */
.arrow {
  text-align: center;
  margin-bottom: 60px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.nav-item {
  font-family: 'Lato', sans-serif;
}
.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}
.dropdown-item {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item:hover {
  background-color: #5eaaa8;
}
.sign{
margin: 2px;
}
/* progress bar */
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
 position:absolute;
  left:0;
  bottom:0;
  z-index: 1030;
 -webkit-transform:transform3d(0,0,0);
  -webkit-overflow-scrolling: touch;

}
.progress-bar {
  height: 4px;
  background: #145374;
  width: 0%;
}
/* home page header */
#head p {
  font-family: 'Montserrat', sans-serif;
  color: #1a1a2e;
  font-size: 1rem;
}
#head  span{
  font-size: 2rem;
  font-family: "Lato",sans-serif;
}


/* carousel */
.carousel-body img {
  padding-bottom: 5px;
}
.carousel-body {
  padding: 20px 40px 40px 40px;
  text-align: center;
}
.carousel-image{
  padding-bottom: 5px;
}
  /* #first .boxes{
    height: 430px;
  } */

/* master div */
/* .wrap {
  justify-content: center;
} */
/* sections --> boxes */
.boxes {
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}
/* wrap-->sections-->boxes-->box-1 */
.box-1 {
  /* display: flex; */
  text-align: center;
   /* align-items: center;
  justify-content: center; */
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
}
/* wrap-->sections-->boxes-->box-2 */
.box-2 {
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
/* wrap-->sections-->boxes-->box-3*/
.box-3{
  display: flex;
  flex-direction: column;
/*   text-align: center;
  align-items: center; */
  justify-content: center;
}
/* bootstrap cards */
.card-deck .row {
  margin: auto;
}
.card {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}



.about {
/*   padding: 12px; */
/*   visibility: visible; */
}




/* section 5 bootstrap grids */
.feature-box {
  text-align: center;
  margin-bottom: 15px;
}
.feature-box .icon {
  margin-bottom: 20px;
  color: #d63447;
}
.feature-box .icon:hover {
  color: #32e0c4;
}
/* footer section social media icons */
.social-media {
  display: flex;
/*   align-items: center; */
  justify-content: center;
/*   margin-left: auto;
  margin-right: auto; */
  padding: 20px;
}
.social-media .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.social-media .button .icon {
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.social-media .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(3):hover .icon {
  background: #1DA1F2;
}

.social-media .button:nth-child(4):hover .icon {
  background: #d6e0f0;
}

.social-media .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.social-media .button:hover .icon i {
  color: #fff;
}
/* media query to show drop items on hover */
@media only screen and (min-width: 900px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #000;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
/* media query for responsiveness in small screens */
@media only screen and (max-width:700px) {
  .boxes {
/*     width: 85%; */
    margin: 10px auto;
/* position:absolute; */
    overflow-x: hidden;
  }
/*   .hero {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow-x: hidden;
  color: #FFF;
  text-align: center;
} */

  .progress-container {
    height: 3px;
  }
  #index_image{
    height: 230px;
  }

  .progress-bar {
    height: 3px;
  }

/*   .backgrounds .background {
    background-image: none;
    background-color: #fefefe;
  } */

  i {
    display: block;
  }

/*   iframe {
    display: flex;
  } */
  /* #first .boxes{
    height:540px;
  } */

/*   #fourth {
    width: 85%;
    margin: 10px auto;
    position: relative;
    overflow-x: hidden;
  } */

  #fourth .container-fluid .body {
    text-align: left;
  }

  #fifth p {
    text-align: center;
  }
}

/* section.status {
  background: $secondary;
  min-height: calc(100vh - 86px);
} */
.status-box {
  padding: 60px 0 0;
}
.status-box ul {
  margin-left: 84px;
}
.status-box ul li span {
  position: relative;
  padding-left: 20px;
}

.status-box ul li span:after {
  content: '';
  position: absolute;
  left: -10px;
  top:50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow:0 0 1px 10px #f8f8f8;
}


.status-box ul li span:before{
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}
.status-box ul li:nth-child(1) span:before {
  content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
  content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
  content: '\f54e';
}

.status-box ul li:nth-child(4) span:before {
  content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
  content: '\f2b5';
}
.status-box ul li {
  position: relative;
}

.status-box ul li:before {
 content: '';
 position: absolute;
 top: 0;
 left: -6px;
 width: 2px;
 height: 100%;
 background:#232323;
 margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after {
  box-shadow:0 20px 1px 20px #F8F8F8;
}


.status-box ul li.step-completed:before {
  background: #ccc;
}


.status-box ul li.step-completed span:after {
  background: #ccc;
}


.status-box ul li.step-completed span {
  color:#ccc;
}


.status-box ul li.current span {
  color: #7579e7;
}

.status-box ul li.current span:after {
  background: #7579e7;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  margin-top: 8px;
}
@media(max-width: 768px) {
  .status-box ul li span:before {
      font-size: 34px;
  }
}

.noty_theme__mint{
  border-radius: 50px!important;
  padding-left: 8px!important;
}

