<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qkres chemicals</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/89e9116ed8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body style="margin-top: 60px;">
    <%-include("../navbar.ejs");  %>
   
    <section id="header">

    <div class="ctube">
        <img class="chemicaltube" src="/images/chemistry.svg" alt="chemicalImg">
    </div>
    <img class="hatom" src="/images/atom.svg" alt="atomImg">
    <img class="hflask" src="/images/flask.svg" alt="flaskImg">
  <!-- <img class="hchemical" src="/images/chemical.svg" alt="chemicalImg"> -->
    <div class="chead">
        <h1 id="cheading" >Chemicals</h1>
    </div>

    </section>
    <section id="csection2">
     <h1>We at <span id="qkresCN">QkRes</span> , serve you with great Care</h1>
    
     <div id="cs2d1">
        <h4>Things you can expect</h4>
        <p>Industrial chemicals and products such as Remi,Whatman, Aquasol </p>
     </div>
     <div id="cs2d2">
        <h4>Chemical lab Equipments</h4>
        <p>Chromatography Products, Laboratory Apparel, Laboratory Machines,..... </p>
        <a class="btn btn-sm cb" href="/chemEquiments">See More</a>
     </div>
    </section>
    <section id="csection3">
    <div class="cs3d1"> 
        <div class="cs3d2">
            <p id="cs3p">Chemicals</p>
          </div>
          <div class="ccontainer">
              <div class="ccard">
                  <div class="cbox">
                      <div class="ccontent">
                      <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                      <h3>Acetone</h3>
                      <p>Enter required quantity in litres</p>
                     <form action="">
                        <input class="form__input" type="text"  required>
                     </form>
                      <button class="btn btn-lg cbutton">Add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="ccard">
                <div class="cbox">
                    <div class="ccontent">
                    <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                    <h3>Acetone</h3>
                    <p>Enter required quantity in litres</p>
                   <form action="">
                      <input class="form__input" type="text"  required>
                   </form>
                    <button class="btn btn-lg cbutton">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="cbox">
                    <div class="ccontent">
                    <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                    <h3>Acetone</h3>
                    <p>Enter required quantity in litres</p>
                   <form action="">
                      <input class="form__input" type="text"  required>
                   </form>
                    <button class="btn btn-lg cbutton">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="cbox">
                    <div class="ccontent">
                    <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                    <h3>Acetone</h3>
                    <p>Enter required quantity in litres</p>
                   <form action="">
                      <input class="form__input" type="text"  required>
                   </form>
                    <button class="btn btn-lg cbutton">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="cbox">
                    <div class="ccontent">
                    <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                    <h3>Acetone</h3>
                    <p>Enter required quantity in litres</p>
                   <form action="">
                      <input class="form__input" type="text"  required>
                   </form>
                    <button class="btn btn-lg cbutton">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="cbox">
                    <div class="ccontent">
                    <img style="height: 64px;" src="/images/molecule.svg" alt="img">
                    <h3>Acetone</h3>
                    <p>Enter required quantity in litres</p>
                   <form action="">
                      <input class="form__input" type="text"  required>
                   </form>
                    <button class="btn btn-lg cbutton">Add to cart</button>
                    </div>
                </div>
            </div>
          </div>
    </div>

    </section>
    <%- include("../footer.ejs") %>
    <script src="/js/main.js"></script>
</body>
</html>